#sous-menu{
margin-left: 10px;
position :absolute;
z-index: 100;
}

#sous-menu li{
        display : block;
        width : 200px;
        height: 20px;
        padding : 10px;
        position:relative;
        cursor : pointer;
        text-decoration : none;
        background-color:  #6a6a6a;
        border: #2F343C;
        margin-top: 8px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
}

#sous-menu li.update{
        background-color:  #cc3333;
}

#sous-menu li a{
color: #fff;
}

#body-action{
width: 980px;
margin: -5px auto -5px auto;
}

#action-actionneur{
text-align:center;
width: 1100px;
}
#action-actionneur tr{
background-color: #ccc;
}
#action-actionneur td{
vertical-align:middle;
}

#action-actionneur td.name{
	min-width:100px !important;
	width: 38%;
	height: 25px;
	text-align: center;
	padding-right: 4px;
	font-size: 16px;
}

#action-actionneur td.droite{
	width: 6%;
	height: 25px;
	text-align: right;
	font-size: 16px;
}
#action-actionneur td.bas{
	width: 6%;
	height: 25px;
	text-align: right;
	font-size: 16px;
}
#action-actionneur td.icone{
	width: 5%;
	height: 25px;
	text-align: right;
	font-size: 16px;
}
#action-actionneur td.input{
	width: 12%;
	height: 25px;
	text-align: right;
	font-size: 16px;
}

#action-actionneur tr.nom{
	background-color: #6a6a6a;
	color: white;
	text-align: center;
	height: 30px;
	font-size: 18px;
}
#action-actionneur tr.contenu:hover{
	background-color: white;
	color: black;

}
.td_categorie {
  min-width:100px !important;
}

.name-variable {
  min-width:100px !important;
  text-align: center;
}

.desc-variable {
  min-width:300px !important;
  text-align: center;
}

#action-tableau td{
	width: 80px;
	text-align: center;
	font-size: 16px;
}

#action-tableau td.name{
  min-width:100px !important;
  padding-left: 6px;
  padding-right: 6px;

}

#action-tableau tr.title{
	color: white;
	background-color: #6a6a6a;
	height: 45px;
}

#action-tableau tr.title th{
  padding-left: 6px;
  padding-right: 6px;
}

#action-tableau tr.contenu{
	color: black;
	background-color: #ccc;
	height: 30px;
}

#action-tableau tr.contenu:hover{
	background-color: white;
	color: black;

}

.panneau_table {
  width: 500px;
  border-spacing: 0px;
  border: 2px solid #6a6a6a;
}

.panneau_titre {
  background-color: #6a6a6a;
  color: white;
  border: 1px solid black;
}

.panneau_centre {
  padding-top: 14px;
  padding-bottom: 14px;
}

.panneau_centre tr{
  background-color: #ccc;
}

.panneau_centre tr:hover{
  background-color: white;
  color: black;

}

.panneau_boutons {
  height: 30px;
  text-align:center;
}

.panneau_libelle{
  padding-left: 6px;
  padding-right: 6px;
}