#sous-menu{
margin-left: 10px;
position :absolute;
z-index: 100;
}

#sous-menu li{
        display : block;
        width : 200px;
        height: 20px;
        padding : 10px;
        position:relative;
        cursor : pointer;
        text-decoration : none;
        background-color:  #6a6a6a;
        border: #2F343C;
        margin-top: 8px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
}

#sous-menu li.update{
        background-color:  #cc3333;
}

#sous-menu li a{
color: #fff;
}

#body-action{
width: 980px;
margin: -5px auto -5px auto;
}

#action-actionneur{
text-align:center;
width: 1100px;
}
#action-actionneur tr{
background-color: #ccc;
}
#action-actionneur td{
vertical-align:middle;
}

#action-actionneur td.name{
	min-width:100px !important;
	width: 38%;
	height: 25px;
	text-align: center;
	padding-right: 4px;
	font-size: 16px;
}

#action-actionneur td.droite{
	width: 6%;
	height: 25px;
	text-align: right;
	font-size: 16px;
}
#action-actionneur td.bas{
	width: 6%;
	height: 25px;
	text-align: right;
	font-size: 16px;
}
#action-actionneur td.icone{
	width: 5%;
	height: 25px;
	text-align: right;
	font-size: 16px;
}
#action-actionneur td.input{
	width: 12%;
	height: 25px;
	text-align: right;
	font-size: 16px;
}

#action-actionneur tr.nom{
	background-color: #6a6a6a;
	color: white;
	text-align: center;
	height: 30px;
	font-size: 18px;
}
#action-actionneur tr.contenu:hover{
	background-color: white;
	color: black;

}
.td_categorie {
  min-width:100px !important;
}

.name-variable {
  min-width:100px !important;
  text-align: center;
}

.desc-variable {
  min-width:300px !important;
  text-align: center;
}

#action-tableau td{
	width: 80px;
	text-align: center;
	font-size: 16px;
}

#action-tableau td.name{
  min-width:100px !important;
  padding-left: 6px;
  padding-right: 6px;

}

#action-tableau tr.title{
	color: white;
	background-color: #6a6a6a;
	height: 45px;
}

#action-tableau tr.title th{
  padding-left: 6px;
  padding-right: 6px;
}

#action-tableau tr.contenu{
	color: black;
	background-color: #ccc;
	height: 30px;
}

#action-tableau tr.contenu:hover{
	background-color: white;
	color: black;

}

.panneau_table {
  width: 500px;
  border-spacing: 0px;
  border: 2px solid #6a6a6a;
}

.panneau_titre {
  background-color: #6a6a6a;
  color: white;
  border: 1px solid black;
}

.panneau_centre {
  padding-top: 14px;
  padding-bottom: 14px;
}

.panneau_centre tr{
  background-color: #ccc;
}

.panneau_centre tr:hover{
  background-color: white;
  color: black;

}

.panneau_boutons {
  height: 30px;
  text-align:center;
}

.panneau_libelle{
  padding-left: 6px;
  padding-right: 6px;
}

.checkbox_delete {
	width: 40px;	
	margin: auto;
	position: relative;
	text-align: left;
}
.checkbox_delete input[type=checkbox] {
	visibility: hidden;
}

.checkbox_delete label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #fff 0%, #fce4e4 100%);
	background: -moz-linear-gradient(top, #fff 0%, #fce4e4 100%);
	background: -o-linear-gradient(top, #fff 0%, #fce4e4 100%);
	background: -ms-linear-gradient(top, #fff 0%, #fce4e4 100%);
	background: linear-gradient(top, #fff 0%, #fce4e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fce4e4',GradientType=0 );
}

.checkbox_delete label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: "X";
	font-family: Arial, Sans-Serif;
	font-weight: bold;
	color:red;
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 0px;
	left: 4px;
}

.checkbox_delete label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.checkbox_delete input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.tableau-admin {
	margin:10px;
}