/* GENERAL */

body {
    min-height: 600px;
    font-family: Helvetica,Verdana,sans-serif;
    margin:0 0;
}

a {
    text-decoration:none;
}

/* MENU */

div.bandeau{
    z-index:1000;
    margin:0;
    background-color: black;
    position : fixed;
    font-size : 16px;
    overflow-x: auto;
    white-space:nowrap;
    overflow-y: hidden; 
    width:100%;
    height:90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor : default;
}

div.bandeau>div{
    position: relative;
    height: 75px;
    padding : 0;
    margin-top: 5px;
    border:none;
    float:left;
}

#list-menu {
    position:absolute;
    left:90px;
    top:0px;
}

div.bandeau>div>div{
    background-color: black;
    border:none;
    width : 85px;
    height : 75px;
    margin: 0;
    margin-top:5px;
    top: 0px;
    display : inline-block;
    text-align:center;
    vertical-align: top;
    float:left;
}

div.bandeau>div>div.ui-sortable-helper {
    height: 75px;
    width: 85px;
    display: inline-block;
    margin: 0;
    margin-top:5px;
}

div.bandeau>div>div.fantome{
    border:1px dashed #8B8BED;
}

div.bandeau>div>div.menu_active {
    border-right:1px dotted #8B8BED;
    border-left:1px dotted #8B8BED;
}

div.bandeau>div>div.menu_active>a {
    cursor: url('../img/cursor/edition.cur'), pointer;
}

div.bandeau>div>div#menu_ajouter{
    background-color: black;
    border:1px dashed #8B8BED;
    display:none;
    text-align: center;
    width:70px;
    height : 75px;
    position:relative;
}

div.bandeau>div>div.log{
    width: 150px;
    color: white;
    float:right;
}
div.bandeau>div>div.plan{
    margin-left: -10px;
}

div.bandeau>div>div>a>span, div.bandeau>ul>li>span{
    display: block;
    text-align: center;
    width: 85px;
    height: 30px;
    color: white;
    font-size: 12px;
    top: 5px;
    position: relative;
    font-family: "Trebuchet MS";
}

div.bandeau>div>div>a>span.temp{
    margin-left: 90%
}

div.bandeau>div>div.menu-configuration{
    overflow:visible;
    width:auto;
}

#mode_edition {
    color: #000;
    font-weight: bold;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    float: left;
    margin: 5px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

#mode_edition.active {
    border:2px inset #8B8BED;
    background-color: #2B3762;
    color:#fff;
}

div.bandeau img{
        border : 0;
}

div.bandeau>.scroll_bar{
        position:absolute;
        bottom : 0;
        width: 100%;
        height : 15px;
}

div.bandeau>div.nav_title>span.back_button{
        height : 30px;
        background-position : 0px 0px;
        float : right;
        position : relative;
        right : 30px;
        width : 30px;
        background-image: url("../images/bandeau.png"); /* URL should changed to the path of bandeau.png*/
}

div.bandeau>.scroll_bar>span{
        position : relative;
        height : 15px;
        width : 30px;
        background-image : url("../images/bandeau.png"); /* URL should changed to the path of bandeau.png*/
        display : block;
        background-position : 0 -90px;
}

#log-on{
     position:  fixed;
     display: none;
     left: 50%;
     top: 50%;
     z-index: 2000;
     padding: 10px;
     width: 320px;
     height:200px;
     background-color: #EEEEEE;
     font-size: 12px;
     line-height: 16px;
     color: #202020;
     border : 3px outset #555555;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#logout{
    margin-top:3px;
    margin-left: 5px;
    color: white;
    text-align: center;
}

#logout a{
    color: white;
    font-size: 12px;
}
#sous-menu {
    z-index:998;
    top:90px;
    width:100%;
    display:inline-block;
    background: white;
    -webkit-box-shadow:0px 2px 5px gray;
    -moz-box-shadow:0px 2px 5px gray;
    box-shadow:0px 2px 5px gray;
    text-align:left;
}
#sous-menu.floatable {
    position: fixed;
    left:0px;
}

#sous-menu > div {
    float:left;
    padding:5px;
    color: #000;
    font-weight: bold;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    float: left;
    margin: 2px;
    font-size:10px;
    line-height: 20px;
    display:inline-block;
}

#sous-menu > div a {
    color:#6A6A6A;
}

#sous-menu-zihome {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 0px 2px 5px #808080;
    text-align: left;
        top:90px;
    height: 50px;
        width:100%;
    display: block;
    position: fixed;
    z-index:999;
    background: none repeat scroll 0% 0% #4E4E4E;
    display:none;
}

#sous-menu-zihome a {
    text-decoration: none;
    color:#000;
}

#sous-menu-zihome > div {
    float:left;
    padding:8px;
    color: #000;
    font-weight: bold;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    float: left;
    margin: 5px;
    font-size:12px;
    line-height: 20px
}

#bouton_menu {
    background-color: #000;
    border: medium none;
    position: relative;
    width: 85px;
    height: 85px;
    margin: 0px;
    padding-top:5px;
    top: 0px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
#bouton_menu.active {
    background-color: #4E4E4E;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}



/* CONTENU */

#contenu {
    margin-top:90px;
    position:absolute;
    width:100%;
}

#affichebouton{
position: relative; 
left: 140px;
}

#grayBack
{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: black;
     z-index: 1999;
     opacity: 0.5;
}

#actionneur{
width: 640px; 
height: 100px; 
margin: 0 auto;
}

.button.green {
	background: rgba(170,212,79,1);
	background: -webkit-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: -moz-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad44f', endColorstr='#609d29',GradientType=0 );
	border:1px solid #5b8821;
	padding: 5px 36px;
}

.button.red {
	background: rgba(248,114,136,1);
  background: -webkit-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: -moz-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87288', endColorstr='#ce3b46',GradientType=0 );
	border:1px solid #b0333e;
	padding: 5px 36px;
}

.button img { 
	float:left;
	width:33px;
	height:33px;
}

.button {
	width:138px;
	height:33px;
	font-size:13px;
	font-weight:bold;
	line-height:33px;
	color:#fff;
	text-shadow:0px 1px 0px rgba(0,0,0,.2);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
}

ul { 
margin: 0; 
padding: 0; 
float: left; 
list-style: none; 
//height: 30px;
border-bottom: 
1px solid #666; 
border-left: 
1px solid #666; 
//width: 640px; 
}

ul li { 
float: left; 
margin: 0; 
padding: 0; 
//height: 29px; 
line-height: 29px;
border: 1px solid #666; 
border-left: none; 
margin-bottom: -1px;
overflow: hidden; 
position: relative; 
background: #ddd; 
}

ul li a { 
text-decoration: none; 
color: #888; 
display: block; 
font-family: "Trebuchet MS"; 
font-size: 14px; 
padding: 0 20px; 
}

.ui-tabs .ui-tabs-nav li.ui-state-active { 
cursor: text; 
color: #666;
border-bottom: 1px solid #fff; 
//max-height:600px;
//overflow:auto;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { 
position: relative;
background: #fff; 
//max-height:600px;
//overflow:auto;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
cursor: pointer; 
}

.ui-tabs .ui-tabs-panel { 
display: block; 
border: 1px solid #666; 
border-top: none; 
overflow: hidden; 
clear: both; 
float: left; 
background: #fff; 
margin: 0; 
width:100%
height:10%
padding-bottom: 10px
font-family: "Trebuchet MS"; 
font-size: 14px; 
#max-height:600px;
#overflow:auto;
}

.ui-tabs .ui-tabs-hide { 
display: none; 
}




#action{
margin-left: 250px;
//width :700px;
padding: 5px;
}

#ui-datepicker-div{
  z-index: 200!important;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 99999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
	background-color: white;
}

.tab-titre {
    font-weight: bold;
    background-color: #000;
    padding:10px;
    color: #fff;
    font-family: "Trebuchet MS"; 
    font-size: 13px;
    text-align:center;
}
.tab-ligne {
    padding:10px;
    color: #000;
    font-family: "Trebuchet MS"; 
    font-size: 13px;
    text-align: center;
}
.titre-texte {
    font-weight: bold;
    color: #000;
    font-family: "Trebuchet MS"; 
    font-size: 13px;
    text-align:center;
}

/* Styles du module video */

#fond_video {
    height:100%;
    width:100%;
    text-align:center;
    padding:0px;
    margin:0px;
}
.video_cadre {
    background-color: #000;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin:1%;
    margin-bottom:0px;
    width:40%;
    padding:0px;
    display: inline-block;
    box-shadow: 4px 4px 5px 4px #aaa;
    border-radius: 17px;
    min-height: 230px;
    line-height: 200px;
}
.video_titre {
    color:#fff;
    width:100%;
    height:30px;
    line-height: 30px;
    font-family: "Trebuchet MS";
    font-size:12px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background-color: #545453;
}
.video_img {
    color:#fff;
    width:auto;
    margin:10px;
    margin-top:0px;
}
.video_img a {
    color:#fff;
    text-decoration: none;
}
img.video {
    width:100%;
}

#fond_popup {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:999998;
    opacity:0.8;
    filter: alpha(opacity=80);
    background-color: rgba(255, 255, 255, 0.8);
}

.popup_menu {
    position:absolute;
    padding:20px;
    z-index:999999;
    width:600px;
    left:50%;
    margin-left: -300px;
    top:100px;
    border:1px solid black;
    background-color: white;
    line-height: 30px;
    font-family: "Trebuchet MS";
    font-size:12px;
    color:black;
    text-align: center;
    display:block;
}
#popup_menu_fermer {
    position:absolute;
    top:0px;
    right:0px;
    height:50px;
    width:50px;
    text-align:center;
    vertical-align: middle;
}
.iframe {
    width:100%;
    height:100%;
    margin:0;
    overflow:scroll;
    border:none;
    position:absolute;
}