<?php
/*--------------------Parametres Mysql---------------------------------*/

$login = 'user';
$plogin = 'password';
$hote = 'localhost';
$base = 'zibase';

/*--------------------fin des Parametres Mysql-------------------------*/

?>
